body {
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-family: 'Oxygen', sans-serif;  
  background-color: #f4c0b3;
  color: white;
}

header {
  background-image: linear-gradient(
    to bottom,
    #afa7bb 40%,
    #f4c0b3 100%
  );
}

.btn {
  background-image: linear-gradient(
    to right,
    #1d2b64 0%,
    #f8cdda 51%,
    #1d2b64 100%
  );
}
.btn {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 5px;
  display: block;
  border: none;
}

.btn:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}

aside {
  background-color: #afa7bb;
  border-radius: 15px;
  padding: 20px;
}

input[type=text]:focus {
  background-color: #f4c0b3;
}

.search-history {
    opacity: 50%;
}

#current-div {
  background-color: #afa7bb;
  opacity: 75%;
  border-radius: 15px;
  padding: 10px;
}

#forecast-div {
  background-color: #afa7bb;
  opacity: 75%;
  border-radius: 15px;
  padding: 10px;
}

.card {
  background-color: #085467;
  margin-bottom: 10px;
  opacity: 75%;
  border-radius: 15px;
  margin: 20px;
  font-size: 1rem;
  display: flex;
}